* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

/* Style for the header image */
.header-image {
    max-width: 150px;
    /* Adjust this to control the size of the image */
    height: auto;
    margin-bottom: 10px;
    /* Adds space between the image and the navigation */
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.hidden {
    display: none;
}